<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <customErrors mode="Off"/>
      <authentication mode="None"/>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key ="SMTPuser" value="wadprojectfall2016@gmail.com"/>
    <add key="SMTPpassword" value="wadproapeksha"/>
    <add key="Port" value="587"/>
    <add key="EmailPort" value="25"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSSL" value="true"/>
  </appSettings>
  
  <connectionStrings>
    <add name="Database" 
    connectionString="User id=naiks2; 
    password=1463893;
    Data Source=dcm.uhcl.edu; 
    Initial Catalog=c432016fa01naiks2;"
    
    providerName="System.Data.SqlClient"/>
  
   
  </connectionStrings>
</configuration>
